# Machine specific build configs
MakefileCustomDefs

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.DS_Store

# Generated Lex/Yacc sources
pal.tab.cpp
pal.tab.hpp
position.hh
stack.hh
location.hh
lex.yy.cpp

# Generated dependency files
*.d
*.ad

# Generated executables
bin/pal
test/AllTests
test/ScannerTest
test/ParserTest
test/ParserTestWithFiles

# random editor temp files
*.swp
*.swo

# latex output
*.aux
*.log
*.pdf

# Generated GTest code
test/ParserTestWithFiles.cpp
